@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

.editorToolBox{
    width: 90%;
    margin: 2% auto;
}
.header{
    font-family: "KoPubWorld Dotum Bold", serif;
}
.editorBox{
    display: flex;
    justify-content: space-around;
    width: 88%;
    margin: 0 auto;
}
.prevViewContainer{
    border-radius: 3px;
    width: 50%;
    padding: 20px;
    height: 600px;
}
.blueButton {
    background-color: #00A3FF;
    color: #ffffff;
    padding: 10px 20px;
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
    float: right;
}

.blueButton:hover {
    background-color: #0056b3;
}
.noneButton {
    background-color: white;
    color: #000000;
    border: none;
    cursor: pointer;
    font-family: 'KoPubWorld Dotum Bold', sans-serif;
}
.headerContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
