@font-face {
    font-family: "koko";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}

.sidebar {
    position: fixed; /* 상대 위치 설정 */
    top: 200px; /* 상단 여백 */
    font-family: koko, serif;
}

.buttonContainer button {
    padding: 12px 25px 12px 12px;
    border: none;
    background-color: #4EBFFF;
    color: white;
    text-align: left;
    width: 270px; /* 버튼의 너비를 절대값으로 지정합니다 */
    height: 50px; /* 버튼의 높이를 절대값으로 지정합니다 */
}
.buttonContainer span {
    transform: rotate(270deg);
}
