@font-face {
    font-family: "koko";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}

.sidebar {
    position: fixed; /* 상대 위치 설정 */
    top: 200px; /* 상단 여백 */
    font-family: koko, serif;
}

.buttonContainer button {
    padding: 12px 25px 12px 12px;
    border: none;
    background-color: #4EBFFF;
    color: white;
    text-align: left;
    width: 270px; /* 버튼의 너비를 절대값으로 지정합니다 */
    height: 50px; /* 버튼의 높이를 절대값으로 지정합니다 */
}
.buttonContainer span {
    transform: rotate(270deg);
}
.CardControlBox{
    font-family: "KoPubWorld Dotum Bold", serif;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    position:fixed;
    background-color: #FFFFFF;
    top: 20%;
    left: 70%;
    overflow-y: auto;
}
.columnSelect{
    font-family: "KoPubWorld Dotum Bold", serif;
    display: flex;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
.option{
    font-family: "KoPubWorld Dotum Bold", serif;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}
.selectionTitle {
     font-family: "KoPubWorld Dotum Bold", serif;
     margin-top: 10px;
     font-weight: bold; /* 글씨를 두껍게 만듭니다 */
 }

.button{
    background-color: #00A3FF; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10% 8px;
    cursor: pointer;
    border-radius: 8px;
    float: right;
}
.closeBox{
    font-family: "KoPubWorld Dotum Bold", serif;
    width: 15%;
    margin-top: 3%;
    float: right;
}
.checkBox {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* 한 라인에 3개씩의 열을 가진 그리드를 생성 */
    padding: 5px;
    text-align: center;
}

.checkBox input[type="checkbox"] {
    text-align: center;

}
.checkBoxTitle{
    padding: 0;
    margin: 0;
}