@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

.tableBox{
    font-family: "KoPubWorld Dotum Bold", serif;
    border: 1px solid red;
    margin-left: 350px;
    margin-top: 55px;
    width: 65%;
    height: 574px;
}

.tableTitle{
    border:1px solid #00ff9d;
}

.title{
    border : 1px solid salmon;
    font-size: 34px;
    width: 500px;
    margin-left: 78px;
    padding: 5px;
}

.titleBox{
    border:1px solid blue;
    height: 12%;
}

.namesContainer{
    border:1px solid #11ff00;
    height: 15%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nameTable{
    border: 1px solid #e13636;
    height: 100%;
    width: 40%;
}

.tableName{
    border: 1px solid gray;
    height: 43%;
    font-size: 22px;
    width: 50%;
    margin-left: 2px;
}

.insertTableName{
    border:1px solid navy;
    margin-top: 5px;
    width: 90%;
    height: 52%;
    margin-left: 10px;
}

.insertBox{
    width: 350px;
    height: 41px;
    margin-left: 2px;
    margin-top: 2px;
}


.insertTable{
    border:2px solid #777777;
    height: 41px;
    width: 350px;
    border-radius: 10px;
}

.insertDB{
    border:2px solid #777777;
    height: 41px;
    width: 350px;
    border-radius: 10px;
    background-color: #E8E8E8;
}

.insertTable:focus{
    border: none;
}

.explanationContainer{
    border:1px solid black;
    height: 15%;
    width: 84%;
    margin-top: 10px;
    margin-left: 80px;
}

.insertExplanation{
    border:2px solid #777777;
    height: 41px;
    width: 790px;
    border-radius: 10px;
}

.explanationBox{
    border:1px solid red;
    font-size: 22px;
    display: flex;
    width: 200px;
    margin-left: 2px;
}

.add{
    border:1px solid black;
    font-size: 14px;
    color:#707070;
    height: 20px;
    margin: 5px 0 0 4px;

}
.metaContainer{
    border:1px solid black;
    margin-top: 10px;
    height: 50%;
}

.button{
    border:1px solid purple;
    display: flex;
    gap:10px;
    width: 32px;
    float: right;
    margin-right: 90px;
}

.buttonImg{

}

.dictionary{
    border:1px solid blueviolet;
    margin-top: 25px;
    height: 90%;
}

.selectHeader{
    border:1px solid #9bcaff;
    height: 50%;
}

.selectHeaderTable{
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #777777;
}

.selectHeaderTable th{
    background-color: #E8E8E8;
    border: 1px solid #777777;
    padding: 5px;
    text-align: center;
}

.selectHeaderTable td{
    border: 1px solid #777777;
    padding: 2px;
    text-align: center;
}

.inputColumnName{
    border:none;
}

.inputDataType{
    border:1px solid #A4A4A4;
    height: 25px;
    width: 160px;
    margin: 0 auto;
}

.typeNo{
    margin:2px 5px 2px 0;
    float: right;
    text-align: center;
}

.types{
    font-family: "KoPubWorld Dotum Bold", serif;
    border:1px solid #777777;
    height: auto;
    width: 160px;
}

.types td{
    background-color: white;
    border: 1px solid #777777;
    padding: 2px;
    text-align: center;
    width: 160px;
}