@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../default/font/GmarketSansTTFBold.ttf");
}
.ButtonBox{
    width: 440px;
    margin: 7px auto 0;
}

.button{
    font-family: "KoPubWorld Dotum Bold";
    border-color: #00A3FF;
    background-color: #00A3FF;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    font-size: 24px;
    border-radius: 12px;
    border-style: none;
}