.rectangle-container {
    background-color: #ffffff; /* 직사각형의 배경색 */
    border: 3px solid #C5C5C5; /* 직사각형의 테두리 */
    margin-left:30px;
    margin-top: 100px;
    width: 100px;
    padding: 10px; /* 내부 여백을 추가하여 버튼과 테두리 사이의 간격을 조절합니다. */
}

.rectangle-container .btn {
     /* 버튼이 직사각형 내에서 균일하게 확장되도록 합니다. */
    background-color: #ffffff; /* 배경색을 흰색으로 지정 */
    border-color: #ffffff; /* 테두리 색상을 회색으로 지정 */
    color: #000000; /* 글자 색상을 검정색으로 지정 (선택 사항) */
    list-style-type: none;
}

.rectangle-container .btn img {
    width: 50px;
    height: 50px;
}
#name {
    position: relative; /* 상대적 위치 설정 */
    top: -50px; /* 위로 20px 이동 */
    margin-bottom: -25px;
    z-index: 1; /* 다른 요소들보다 위에 위치하도록 설정 */
}
select{
    margin: auto;
}