/* styles.css */

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px 0 0;
    color: #00A3FF;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 30px 15px 30px;
    padding: 2px 15px;
    border-radius: 50px;
}

.navbar-user-info {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 10px 15px 0px;
    color: #000;
}
