@font-face {
    font-family: "KoPubWorld Dotum Bold";
    src: url("../default/font/KoPubWorld Dotum Bold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../default/font/GmarketSansTTFBold.ttf");
}

.cardContainer{
    font-family: "KoPubWorld Dotum Bold", serif;
    border:1px solid #9b9b9b;
    height: 420px;
    width: 350px;
}
.cardDesign{
    border:1px solid red;
    height: 380px;
    width: 300px;
    margin: 20px auto 0;
}
.cardImage{
    background-color: #D9D9D9;
    height: 180px;
}

.text{
    border:1px solid brown;
    height: 120px;
    margin-top: 20px;
}
.cardTitle{
    border:1px solid salmon;
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin: 0 auto;
}

.cardDescription{
    border:1px solid skyblue;
    height: 60px;
    width: 200px;
    margin: 5px auto 0;
    font-size: 20px;
}
.buttonBox{
    border:1px solid blue;
    width: 80px;
    height: 40px;
    float: right;
    margin-top: 5px;
}

.button{
    width: 100%;
    height: 100%;
}