@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

.All{
    font-family: "GmarketSansTTFBold", serif;
    border:1px solid red;
    width: 99%;
    height: 65px;
}

.container{
    display: flex;

}

.logo {
    margin: 0 auto 0 30px;
    font-size: 64px;
    color: #00A3FF;
    text-shadow: 1px 1px 0 ,
    -1px -1px 0 ,
    1px -1px 0 ,
    -1px 1px 0 ;
}

.bar{
    border:1px solid #000000;
    display: flex;
    width: 70%;
    height: 50px;
    margin-top: 8px;
    font-size: 18px;
}

.info{

    align-items: center;
    height: 100%;
    border:1px solid blue;
    width: 20%;
    display: flex;
    gap: 40px;

}

.navLink {
    display: flex;
    height: 100%;
    width: 37%;
    align-items: center;
    border:1px solid #d9d971;
    gap:60px;
    margin: 0 auto;

}

.navLink li{
        list-style-type: none;
        flex: 1;
        text-align: center;
        padding: 6px;
        cursor: pointer;
}

.navLink a{
    text-decoration: none;
    color: #000;
}

.active {
    background-color: #00A3FF;
    align-items: center;
    text-align: center;
    color:white;
    padding: 5px;
    width: 90px;
    height: 20px;
    border-radius: 15px;
}




@media screen and (max-width: 2000px) {
    html{font-size: 20px;}
    body{font-size: 1rem;}
}
