@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}
@font-face {
    font-family: "GmarketSansTTFBold";
    src: url("../../default/font/GmarketSansTTFBold.ttf");
}

.All{
    font-family: "GmarketSansTTFBold", serif;
}

.logo {
    font-size: 64px;
    color: #00A3FF;
    text-shadow: 1px 1px 0 ,
                -1px -1px 0 ,
                1px -1px 0 ,
                 -1px 1px 0 ;

    margin-right: 60px;
    margin-left: -70px;
}

.logo:hover,
.logo:active{
    color: #00A3FF;
}
.nav-link {
    font-size: 16px;
    margin: 15px 30px 15px 30px;
    padding: 2px 15px;
    color: #000;
}

.navbar-user-info {
    font-size: 16px;
    margin: 15px 10px 15px 0;
    color: #000;
    padding-left:24px ;
}

.nav-link:nth-child(2) { /*현재 페이지 표시 (숫자만 바꿔주면 됨)*/
    color:white;
    background-color: #00A3FF;
    border-radius: 23px;
    width: 88px;
    height: 26px;
}
